*#
*~
.ansible/
.bash_logout
.bashrc
.cache/
.cargo/
.config/
Desktop/
Documents/
Downloads/
.emacs.d/
.gnupg/
*_history
.lesshst
.local/
.local/bin/
.local/share/nvim/
.local/share/ranger/
.local/state/
.mozilla/
Music/
.npm/
.password-store/
Pictures/
.profile
.pulse-cookie
snap/
.ssh/
.ssh/id_*
.ssh/known_*
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.viminfo
.wget-hsts
.Xauthority
.zcompdump*
.zshrc
.zshrc.omz
.ICEauthority
.xsession-errors
.xsession-errors.old
/Dotfiles/nix/
