*#
*~
/.aliasrc
.ansible/
.bash_logout
/.bashrc
.cache/
/.config/
.config/github-copilot/
.config/mpv/watch_later/
.config/nvim/spell/en.utf-8.add.spl
.config/shell/Emacs.el
Desktop/
Documents/
Downloads/
.emacs.d/elpa/
.emacs.d/Emacs.el
.emacs.d/recentf
.emacs.d/transient/
/.gnupg/
*_history
.lesshst
/.local/
.local/bin/
.local/share/nvim/
.local/share/ranger/
.local/state/
.mozilla/
Music/
.npm/
.password-store/
Pictures/
/.profile
.pulse-cookie
/.ssh/
.ssh/id_*
.ssh/known_*
.steam/
.steampath
.steampid
.sudo_as_admin_successful
/.viminfo
.wget-hsts
.Xauthority
.zcompdump*
/.zshrc
/.zshrc.omz
