*#
*~
.ansible/
.bash_logout
.cache/
.config/github-copilot/
.config/nvim/spell/en.utf-8.add.spl
.config/shell/Emacs.el
Desktop/
Documents/
Downloads/
.emacs.d/elpa/
.emacs.d/Emacs.el
.emacs.d/recentf
.emacs.d/transient/
*_history
.lesshst
.local/bin/
.local/share/nvim/
.local/share/ranger/
.local/state/
.mozilla/
.npm/
Pictures/
.pulse-cookie
.ssh/id_*
.ssh/known_*
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.wget-hsts
.zcompdump*
